doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content= 'Eric Thieme-Garmann (429603)')
    title Web-App - Geosoftware I, SoSe 2017, Abschlussabgabe
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    // better have a bit of style
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-fluid
      .col-md-12
        h1 Web-App
        p Geosoftware I, SoSe 2017, Abschlussabgabe
        ul.nav.nav-tabs.nav-justified
          li.active(role='presentation')
            a.text-muted(href='/') Start
          li(role='presentation')
            a.text-muted(href='parkplaetze') Karte
          li(role='presentation')
            a.text-muted(href='impressum') Impressum
    .col-md-12
        h2 Willkommen
        p
          | Geosoftware Projektabgabe 2017
          | Zuschauer und Parkplätze können über die Leaflet Draw Control hinzugefügt werden.
          br
          | Wählt man einen Zuschauerplatz hat man daraufhin die Möglichkeit im Popup Fenster an den nächsten Parkplatz oder Start und Endpunkt zu navigieren
          br
          |  Klickt man auf die Karte so kann man jeweils einen Start und einen Endpunkt der gewünschten Route angeben.
          | Daraufhin öffnet sich ein PopUp in dem alle zu speichernden Informationen angegeben werden sollen.

