doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='author', content= 'Eric Thieme-Garmann (429603)')
        title Web-App - Geosoftware I, SoSe 2017, Abschlussabgabe
        // Leaflet stuff
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css')
        script(src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
        // Leaflet draw plugin
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.9/leaflet.draw.js')
        // painless AJAXing
        script(src='https://code.jquery.com/jquery-3.2.1.min.js')
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        // jQuery UI for resizing stuff
        link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
        // better have a bit of style
        link(rel='stylesheet', href='/stylesheets/style.css')
        // Leaflet routing Engine
        link(rel='stylesheet', href='/stylesheets/leaflet-routing-machine.css')
        script(src='/javascripts/imported/leaflet-routing-machine.js')
        // Leaflet Reverse Lookup
        link(rel='stylesheet', href='/stylesheets/Control.Geocoder.css')
        script(src='/javascripts/imported/Control.Geocoder.js')
        script(src='/javascripts/imported/turf.min.js')

        script(src='/javascripts/init.js')

        //Turf js

        script(type='text/javascript', src='/javascripts/bootstrap-filestyle.min.js')

        // our app code
        script(src='/javascripts/imported/jsnlog.min.js')
        script(src='/javascripts/Mongo.js')
        script(src='/javascripts/showLocation.js')
        script(src='/javascripts/loadFromText.js')
        script(src='/javascripts/routing.js')
        script(src='/javascripts/exportDrawing.js')
        script(src='/javascripts/exportDrawing.js')
        script(src='/javascripts/showExternal.js')

    body
        .container-fluid
            .col-md-12
                h1 Web-App
                p Geosoftware I, SoSe 2017, Abschlussabgabe
                ul.nav.nav-tabs.nav-justified
                    li.text-muted(role='presentation')
                        a.text-muted(href='/') Start
                    li.active(role='presentation')
                        a.text-muted(href='parkplaetze') Karte
                    li(role='presentation')
                        a.text-muted(href='impressum') Impressum
                br
                input.btn.btn-success(id='rcHide', type='submit', value='Hide route control')
                input.btn.btn-success(id='rcShow', type='submit', value='Show route control')
            #content.col-md-8
                // Leaflet map div
                #map.map
            #menu.col-md-4
                    .row
                        .col-md-12
                            #panelid.panel-group
                                .panel.panel-default
                                    .panel-heading
                                         a.accordion-toggle.text-muted(data-toggle='collapse' data-target='#collapse1' data-parent='#panelid')
                                            span.glyphicon.glyphicon-pencil(aria-hidden='true')
                                            |       Gebe eine GeoJSON Datei an und sie wird auf der Karte angezeigt
                                    #collapse1.panel-collapse.collapse.out
                                        .panel-body
                                            .form-group
                                                textarea#geojson-area.form-control(rows='8', placeholder='Paste your GeoJSON here')
                                            .form-group
                                                button.btn.btn-success(id ='jsonbutton' onclick='loadGeoJSON()')
                                                    span.glyphicon
                                                    |  Zeig's mir an !

                                .panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse', data-target='#collapse2')
                                            span.glyphicon.glyphicon-folder-open(aria-hidden='false')
                                            |             &nbsp
                                            |             Lade eine GeoJSON Datei hoch und sie wird auf der Karte angezeigt
                                    #collapse2.panel-body.panel-collapse.collapse.out
                                        input(id='externalfile' accept='text/plain' type="file" class="filestyle" data-btnClass="btn-success" onchange='ReadFile(event)' data-placeholder="Lade eine GeoJSON Datei hoch")

                                .panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#loadMarker')
                                            span.glyphicon.glyphicon-open(aria-hidden='true')
                                            |                  Geben sie den Namen des Markers ein und er wird auf der Karte angezeigt
                                       form.panel-body.panel-collapse.collapse.out(id='loadMarker' action='/api/load/marker/' method='GET')
                                           .input-group
                                                    input#name.form-control(type='text', name='loadname', placeholder='Name des Markers' value=loadMarker)
                                                    span.input-group-btn
                                                        input#loadMarkers.btn.btn-success(type='submit', value='Marker aus  Datenbank laden')
                                .panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#loadEtappe')
                                            span.glyphicon.glyphicon-open(aria-hidden='true')
                                            |                   Geben sie den Namen der Etappe ein und sie wird auf der Karte angezeigt
                                       form.panel-body.panel-collapse.collapse.outy(id='loadEtappe' name='loadEtappe' action='/api/load/etappe/' method='GET')
                                            .input-group
                                                      input.form-control(type='text', name='names', id='names', value=loadEtappe, placeholder='Name der Route')
                                                      span.input-group-btn
                                                          input.btn.btn-success(type='submit', id='loadSEtappe', value='Etappe aus Datenbank laden')

                                #wikistart.panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#collapse4')
                                            span.glyphicon.glyphicon-education
                                                | Der Wikipedia Eintrag zum Startort der geladenen Etappe
                                    #collapse4.panel-body.panel-collapse.collapse.out
                                        #wiki.wikipedia.p
                                            | Laden sie eine Etappe um den Wikipedia Eintrag zu laden

                                #wikiend.panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#collapse5')
                                            span.glyphicon.glyphicon-education
                                                | Der Wikipedia Eintrag zum Zielort der geladenen Etappe
                                    #collapse5.panel-body.panel-collapse.collapse.out
                                        #wikie.wikipedia.p
                                            | Laden sie eine Etappe um den Wikipedia Eintrag zu laden

                                #picturesstart.panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#collapse6')
                                            span.glyphicon.glyphicon-picture
                                                |               Bilder zum Start
                                    #collapse6.panel-body.panel-collapse.collapse.out
                                           img(id='picstart' src='', alt='Das Bild aus der Datenbank sollte hier geladen sein' height="320px" width="42px")


                                #picturesend.panel.panel-default
                                    .panel-heading
                                        a.text-muted(data-toggle='collapse' data-target='#collapse7')
                                            span.glyphicon.glyphicon-picture
                                                |               Bilder zum Ziel
                                    #collapse7.panel-body.panel-collapse.collapse.out
                                        img(id='picend' src='', alt='Das Bild aus der Datenbank sollte hier geladen sein' height="320px" width="42px")









