#map {
  height: 70vh;
}

#externalfile {
  width: 220px;
}

.ui-resizable-handle {
  background: linear-gradient(
    to bottom,
    white,
    white 50%,
    lightgray 50%,
    lightgray
    );
  background-size: 100% 20px;
}
#wikistart {
  position:relative;
  }

img {
  padding: 0;
  margin: 0;
  width: 100%;  /* Bild passt sich an verfügbaren Raum im li an */
}

#starttermin {
  width: 20%;
}
#jsonbutton {
  position:relative;
  left: 80%;
}
#uploadbutton {
  position:relative;
  left:63%;
}
